1) navbar: logo তে abaacus থাকা যাবে না + menu optional || done
2) carousel: must থাকতে হবে।minimum ৩টা image থাকতে হবে । কিছু লিখা থাকতে হবে। btn থাকতে হবে এবং ক্লিক করলে অন্য page এ নিয়ে যেতে হবে UNDERSTAND || done
3) PRECIOUS MOMENTS: OPTIONAL কিন্তু এর বাইরে যেকোন design বসাতে থবে  done

4) OUR PACKAGE: ১০০% same to same থাকতে হবে। একটা থাকবে highlight করা এবং badge থাকবে ok || done
5) happy clients: OPTIONAL কিন্তু এর বাইরে যেকোন design বসাতে থবে  done
6) frequent asked quesstion: accordion must থাকতে হবে। পিক থাকবে question করতেছে related  done
7) footer: 100% same থাকবে এবং must must 2টা appstore এর linked pik থাকবে যেখানে ক্লিক করলে ঐ company এর কোন একটা app এর page e নিয়ে যেতে হবে।  done


special 10 marks:

i) 3 and 5 no optional এর বাইরে যেকোন দুইটা design বসাতে পারলে  done
ii) section by section commit করলে minimum 5 time commit করলে  done 
iii) any google font, icon  done
iv) একটা cancell able toast effect use করতে হবে  done

